body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  min-height: 72vh;
  justify-content: center;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

.h1-form {
  height: 100px;
}

nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #717376;
  position: relative;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

nav > button {
  position: absolute;
  right: 50px;
  width: 42px;
  height: 42px;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  background: #454545;
  font-size: 20px;
  cursor: pointer;
}

nav > button:hover {
  background: #3c3c3c;
  font-size: 18px;
}

.link {
  text-decoration: none;
  font-size: 20px;
}

a{
  color: #fff;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover{
  color: rgb(61, 60, 60);
} 

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #376998;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.right {
  display: flex;
  gap: 20px;
  margin-right: 70px;
}

.dh-logo {
  width: 200px;
}

.redes {
  width: 30px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card-dark{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 2px solid rgb(20, 123, 202);
  border-radius: 20px;
  background-color:  rgb(44, 44, 44);
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 20px;
  margin: 10px auto;
}

.card:hover{
  border: 10px solid  rgb(20, 123, 202);
  background-color:  rgba(73, 118, 163, 0.178);

}

.card-dark:hover{
  border: 10px solid  rgb(20, 123, 202);
  background-color:  rgba(217, 219, 221, 0.808);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.favButton{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid rgb(136, 136, 136);
  width: 80%;
  border-radius: 10px;
  height: 10%;
  cursor: pointer;
  margin: 10px auto;
  transition-duration: 0.2s;
  flex-direction: row;
  justify-items: center;
  color: rgb(20, 123, 202);
  font-weight: bold;
  font-size: 16px;
}

.favButton:hover {
  background-color: rgb(20, 123, 202);
  color: white;
}

.dentistDetail{
  justify-content: center; 
  align-items: center;
  text-align:center;
  color: rgb(20, 123, 202);
  font-size: 18px;
  margin-left: 38%;
  width:25%;
  background-color: azure;
  border: 2px solid;
  border-radius: 5%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 500px;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 20px;
  margin: 10px auto;
}

Form{
  margin-bottom: 100px;
}

.enviarForm{
  width: 100%;
  height: 35px;
  background-color: rgba(129, 90, 90, 0.116);
  border: 2px solid rgb(83, 83, 83);
  border-radius: 4px;
  cursor: pointer;
  color: rgb(53, 108, 190);
  font-weight: bold;
}

.input-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nye {
  height: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #212121;
  color: white;
}
.dark > a {
  color: #333;
}